{% extends 'base.html' %}

{% block content %}

<section>
    <div class="bg-secondary align-items-center">
        <title class="title" style="font-family: 'Courier New', Courier, monospace;">The Denaly Library</title>
        <table class="table table-striped caption-top">
            <caption>Books we have stored in the library:</caption>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">ISBN Number</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}