{% extends 'base.html' %}

{% block content %}

<section class="search text-#FFD180" style="background-image: url('../../static/images/lib_sit.jpg'); color:rgb(223, 174, 41); height: 300px; width: 100%; display: flex; justify-content:center; align-items:center;">
    <h1 class="headings caption-top" style="font-size: 42px; font-weight: bold;">Welcome To Our Book Finder</h1>
    
</section>

<section>
    <div class=" align-items-center">
        <table class="table table-striped caption-top">
            <caption>Books we have stored in the library:</caption>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">ISBN Number</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}