<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Kuda's Library</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-secondary text-light navbar-fixed-top" style="background:secondary;">
    <a class="navbar-brand" href="">Kuda's Library</a>
    <ul class="navbar-nav mr-auto mt-6 mt-lg-6">
        <li class="nav-item active d-flex justify-content-end">
            <a class="nav-link" href="{{ url_for('site.home') }}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item d-flex justify-content-end">
            <a class="nav-link" href="{{ url_for('site.profile') }}">Profile</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item d-flex justify-content-end">
            <a class="nav-link" href="{{ url_for('auth.sign_up') }}"></a>
        </li>
        {% else %}
        <li class="nav-item d-flex justify-content-end">
            <a class="nav-link" href="{{ url_for('auth.sign_in') }}">Sign In</a>
        </li>
        <li class="nav-item d-flex justify-content-end">
            <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
        </li>
        {% endif %}
    </ul>
</nav>


{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>