
<div class="container">
    <!-- <section class="bg-secondary text-dark text-center shadow">
        <div class="container bg-secondary">
            <div class="row">
                <div class="d-flex bg-light align-items-center justify-content-evenly">
                    <h1 class="col text-center">Your Library Inventory</h1>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Add the inventory of the account here? -->
    <table class="table caption-top">
        <caption>List of books you have</caption>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author Name</th>
                <th scope="col">ISBN Number</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add the information into the table-->
        </tbody>    
    </table>
    <section class="bg-dark text-center">
        <div class="container">
            <div class="row">
                <div class="images">
                    <img class="image" style="width:50%; height:50%;" src="/app/static/images/pexels-rafael-cosquiere-2041540.jpg" alt="Second slide"><br><a href="https://www.pexels.com/photo/white-wooden-bookshelves-1319855/">Photo by Rafael Cosquiere from Pexels</a> 
                    </div>
            </div>
        </div>
    </section>
</div>
